<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Exemplo Ejs</title>
    </head>
    <body>
        <h1>Conteúdo de uma página EJS</h1>
        <h2>Conteúdo de uma página EJS</h2>
        <h3>Conteúdo de uma página EJS</h3>
        <p>Aqui pode ser incluído conteúdo CSS e Javascript</p>
    </body>
</html>